.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, blue, violet, purple);
  text-align: center;
}

h1 {
  color: white;
  margin-bottom: 20px;
}

h2 {
  color: white;
 }

h3 {
  color: white;
}

h4 {
  color: white;
}

p {
  color: white;
}

.btn {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  transition: background 0.3s;
}

.add-btn {
  background-color: #28a745;
  color: white;
}

.add-btn:hover {
  background-color: #218838;
}

.edit-btn {
  background-color: #ffc107;
  color: black;
}

.edit-btn:hover {
  background-color: #e0a800;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.delete-btn:hover {
  background-color: #c82333;
}

.manage-states-btn {
  background-color: #007bff;
  color: white;
}

.manage-states-btn:hover {
  background-color: #0056b3;
}

h2 {
  color: white;
 }

h3 {
  color: white;
}
